<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- 配置数据库连接设置 -->
		<!-- 配置数据库的驱动 -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <!-- 配置连接的数据库的URL地址 -->
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/db_crm?useSSL=true</property>
        <!-- 配置所连接的数据库登录的用户名 -->
        <property name="hibernate.connection.username">root</property>
        <!-- 配置所连接的数据库的密码 -->
        <property name="hibernate.connection.password">root</property>
  
        <!-- JDBC connection pool (use the built-in) -->
		
		<!-- 配置连接数据库所用的方言 -->
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		
		<!-- 配置Hibernate自动会话上下文环境管理 -->
        <property name="current_session_context_class">thread</property>

		<!-- 配置Hibernate的二级缓存 -->
        <!-- <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property> -->

		<!-- 显示执行SQL的执行结果 -->
        <property name="show_sql">true</property>

		<!-- 配置创建数据库时对应的语句 -->
        <property name="hbm2ddl.auto">create</property>
        
        <!-- 在Hibernate中配置用户信息对应的映射关系文件 -->
        <mapping resource="com/gangyu/model/UserInfo.hbm.xml"/>
        <!-- 在Hibernate中配置 用户权限信息对应的映射关系文件 -->
        <mapping resource="com/gangyu/model/RoleInfo.hbm.xml"/>
        <!-- 在Hibernate中配置其他信息对应的映射关系文件 -->
        <mapping resource="com/gangyu/model/OtherInfo.hbm.xml"/>
        <!-- 在Hibernate中配置关注用户信息对应的映射关系文件 -->
        <mapping resource="com/gangyu/model/CustomerCareInfo.hbm.xml"/>
    </session-factory>
</hibernate-configuration>